* {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  padding: 0 1rem 0 1rem;
  background-color: #a6b0a7;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

.body-container {
  display: flex;
  flex-direction: column;
  margin: 0 160px 0 160px;
  padding: 0 5rem 0 5rem;
}

.nav {
  display: flex;
  position: fixed;
  justify-content: center;
  border: 1px solid black;
  background-color: #e3dac9;
  border-radius: 1.5px;
}

.mobile-nav {
  display: none;
}

.nav-links {
  display: flex;
}

.nav-link {
  list-style: none;
  padding: 0 1.5rem 0 1.5rem;
  border-left: 1px solid black;
  cursor: pointer;
}

.nav-link:first-child {
  border-left: 0;
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  align-items: center;
}

.name {
  font-size: 3rem;
  font-family: "Sofia", cursive;
}

.profile-image-container {
  display: flex;
  justify-content: center;
}

.profile-image {
  height: auto;
  width: 50%;
  border-radius: 5px;
}

.sections {
  border-bottom: 5px double black;
  padding-bottom: 2rem;
  padding-top: 3.5rem;
}

.section-title {
  font-family: "Tilt Prism", cursive;
  color: #f4e2e7;
  text-shadow: 1px 1px 10px #3c292e;
}

.section-text {
  box-shadow: 40px -16px #e3dac9;
  background-color: #4f5550;
  border-radius: 5px;
  padding: 1rem;
  color: #f4e2e7;
  min-width: fit-content;
}

.services-body {
  display: flex;
  flex-direction: column;
  padding: 0 4rem 0 4rem;
  align-items: center;
}

.service-list {
  padding-left: 2rem;
  width: 100%;
}

.photo-row {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid black;
}

.service-photo-container {
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.service-photo {
  height: 375px;
  width: 275px;
  border-radius: 5px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.footer-body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0 2rem 0;
}

.book-button {
  display: flex;
  border-radius: 8px;
  padding: 0.125rem 0.5rem 0.125rem 0.5rem;
  background-color: #3c292e;
  color: white;
}

.book-button:hover {
  background-color: white;
  color: black;
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-me-header {
  border-bottom: 1.5px solid black;
  padding: 0 1.25rem 0 1.25rem;
}

.map-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1440px) {
  .body-container {
    margin: 0 20rem 0 20rem;
  }
}

@media screen and (min-width: 1750px) {
  .body-container {
    margin: 0 30rem 0 30rem;
  }
}
@media screen and (min-width: 2560px) {
  .body-container {
    margin: 0 50rem 0 50rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 0;
    background-position: 32%;
  }
  .nav {
    display: none;
  }

  .body-container {
    margin: 0;
    padding: 0;
  }

  .name {
    text-align: center;
  }

  .mobile-nav {
    display: flex;
    padding-left: 2rem;
    position: sticky;
    top: 0;
    background-color: #e3dac9;
    box-shadow: 0 3.5px 2px -2px gray;
  }

  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .nav-link-mobile {
    border-left: 0;
    list-style: none;
  }

  .about-me-body {
    width: 75%;
    padding-left: 2rem;
  }

  .profile-image {
    height: auto;
    width: 50%;
  }

  .services-body {
    padding-left: 2rem;
  }

  .photo-row {
    flex-direction: column;
    border: none;
  }

  .photo-body {
    padding-left: 2rem;
  }

  .footer-body {
    flex-direction: column;
    gap: 3rem;
  }
}

.hide {
  height: 0;
  overflow: hidden;
}
